{% include 'header.html' %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Data Skripsi</h1>
                    </div>
                            <div class="panel-body table-responsive">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                          <th scope="col">Nama</th>
                                          <th scope="col">Judul</th>
                                          <th scope="col">Abstrak</th>
                                          <th scope="col">Cluster</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in items %}
                                        <tr>
                                            <td>{{item['NAMA']}}</td>
                                            <td>{{item['JUDUL']}}</td>
                                            <td>{{item['ABSTRAK']}}</td>
                                            <td>{{item['CLUSTER']}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>
    </body>

</html>
